/* 
***** LIMPAR FORMATAÇÕES *****
*/
* {
    margin: 0;
    padding: 0;
}

/* 
***** FORMATAÇÕES GENÉRICAS *****
*/
body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c4cc;
}

h1 {
    color: #252525;
    font-size: 40px;
}

h2 {
    color: #0066CC
}

h3 {
    color: #565656;
    background:  #CCCCCC;
    padding: 5px;

}
/* 
***** HEADER *****
*/
#header {
    background-color: #0066CC;
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

#header a:link, #header a:visited {
    color: #fff;
    padding: 8px 12px; /* top/bottom, left/right */
}

#header a:hover {
    color: #0066CC; /* TEXT COLOR */
    background: #FFFFFF;
    text-decoration: none;
}

.white { /* CLASS PARA TEXTO BRANCO */
    color: #FFFFFF;
}

/* 
***** CONTENT *****
*/
#content {
    width: 920px;
    margin: 0 auto; /* CENTRALIZA O CONTEÚDO */
    padding: 15px;
}

#posts {
    width: 660px;
    float: left; /* ALINHA À ESQUERDA */
    margin-right: 20px; /* ESPAÇO ENTRE POSTS E SIDEBAR */
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    text-align: justify;
}

.data-post {
    font-size: 13px;
    border-bottom: 1px solid #0066CC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.img-post {
    width: 620px;
}

/* 
***** RIGHT SIDE *****
*/
#right-side {
    width: 240px;
    float: right; /* ALINHA À DIREITA */
}

.content-right {
    background:#FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
}

.post-right {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dotted #CCCCCC;
}

/* 
***** FORMATAÇÃO LINKS *****
*/
a {
    text-decoration: none; /* REMOVE O SUBLINHADO */
}

a:link, a:visited {
    color: #0066CC; /* COR PADRÃO DOS LINKS */
}

a:hover {
    text-decoration: underline; /* SUBLINHADO AO PASSAR O MOUSE */
}

/* 
***** FOOTER - RODAPÉ *****
*/
#footer {
    clear: both; /* LIMPA O FLOAT */
    text-align: center;
    padding: 15px;
    background: #FFFFFF;
    color: #0066CC;
}

